.header{
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35)
  
}

.left-section{
  margin-left:20px;
  align-items: center;
  display: flex;
  margin-right: 50px;
  
}

.dot-logo{
  width: 32px;
  margin-right: 0;
  
}
.main-logo{
  width: 75px;
  margin-left: 0px;
  
}
.middle-section{
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 60px;
  
  margin-right: 90px;
}
.search-button{
  margin-right: -0px;
  height: 33px;
  width: 50px;
  background-color: white;
  border-right: 0;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
 
  
  

}
.Search-bar{
  flex: 1;
  height: 30px;
  border-left:0 ;
 font-family: Montserrat;
  border-width: 1px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
font-weight: 100;

}

.Search-icon{
  height: 25px;
  padding-left: 1px;
  padding-top: 2px;
}


.right-section{
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 28px;
  font-family: Montserrat;
}


.log-in{
  color: white;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 550px;


}
.sign-up-button{
  color: black;
background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 550;
  border-radius: 4px;

}

.body-text{
 flex-direction: column;
 top: 300px;
 margin: auto;
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
  
  

}
.header1{
  font-size: 47px;
 color: white;
 font-weight: bold;


}
.header2{
   color: white;
  margin-top: 35px;
  font-size: 23px; 
  font-weight: 700;
  display: block;
  text-align: center;
  

  }
.Start-button{

background-color: white;
font-size: 23px;
margin-top: 35px;
padding-left: 25px;
padding-right: 25px;
padding-top: 20px;
padding-bottom: 20px;
border: none;
white-space: nowrap;
font-weight: 700;
border-radius: 5px;
cursor: pointer;

}



.last-text{
  color: white;
  width: 250px;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  position: relative;
  margin-top: 100px;
}
.footer{
 height: 50px;
 bottom: 0;
 background-color: black;
 display: flex;
 left: 0;
 right: 0;
 color: gray;
 position: fixed;
 justify-content: space-around;
 align-items: center;
 font-size: 13px;
 text-align: center;

}

@media (max-width:1500px) {
  .body-text{
    width: auto;
  }
  .footer{
    width: auto;
  }
  .header{
    width: auto;
  }


}

body{
  background-image: url('https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Untitled_Jorge_Guadalupe_Lizarraga.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: Montserrat;
  background-position: center;
  animation: changeBg ease 15s infinite;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: changeBg;
    animation-direction: alternate;

     }
     @keyframes changeBg {
      0%,
      100% {
        background-image: url('https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Mists_of_renfrew_Adam_Gibbs.jpg');
      }
       25%{
        background-image: url("https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Untitled_Jorge_Guadalupe_Lizarraga.jpg");
      }
      50% {
        background-image: url("https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Cool_Power_commended-LPOTY_UK_Steve_Cole.jpg");
      }
      75% {
        background-image: url("https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Dawn_of_Another_Day_Sky_Matthews.jpg");
      }
    }